.filter {
    position: relative;
    padding: 5px, 0px;
}
.filter fieldset {
    border: 1px solid;
    border-color: var(--emphasis-color);
    border-radius: 1rem;
}
.filter legend {
    background-color: var(--background);
    padding: 10px;
}

.filter input {
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;
    background: transparent;
}

.filter input[type=number] {
    text-align: center;
}